<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about us</title>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>

<body>
  <header class="header">
    <div class="header_inner">
      <nav class="nav">
        <ul class="nav_list">
          <li><a href="#">Top</a></li>
          <li><a href="#">About</a></li>
          <li class="has-child"><a href="#">Service</a><!--子要素を持つ li にはhas-childというクラス名をつける-->
            <ul>
            <li><a href="#">Service Top</a></li>
            <li><a href="#">Service-1</a></li>
            <li class="has-child"><a href="#">Service-2</a>
              <ul>
              <li><a href="#">Service-2 Top</a></li>
              <li><a href="#">Service-2-1</a></li>
              <li><a href="#">Service-2-2</a></li>
              <li><a href="#">Service-2-3</a></li>
              <li><a href="#">Service-2-4</a></li>
              </ul>
           </li>
           <li><a href="#">Service-3</a></li>
          </ul>
          </li>
          <li class="has-child"><a href="#">Blog</a>
            <ul>
            <li><a href="#">Blog Top</a></li>
            <li><a href="#">Blog-1</a></li>
            <li><a href="#">Blog-2</a></li>
            <li><a href="#">Blog-3</a></li>
            <li><a href="#">Blog-4</a></li>
            </ul>
          </li>        </ul>
      </nav>
    </div>
    <div class="hamburger" id="js-hamburger">
      <span class="hamburger_border hamburger_border_top"></span>
      <span class="hamburger_border hamburger_border_center"></span>
      <span class="hamburger_border hamburger_border_bottom"></span>
    </div>
    <a href="#" class="logo">
      <img src="img/logo.jpeg" alt="">
    </a>
    <ul class="icon-wrap">
      <li><a href="#" id="openbtn" class="openbtn"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
    <div class="black_bg" id="js-black-bg"></div>
    <!--カートのサイドバー-->
    <div id="sidebar-cart" class="Drawer-Right">
      <div class="sidebar-cart__header">
        <span class="sidebar-cart__header__text">カート</span>
      </div>
      <form class="sidebar-cart__main">
        <div class="Drawer__Main">
          <div class="Drawer__Container">
            <div class="Cart__ItemList">
              <div class="Cart__Item">
                <div class="Cart__Item__Image">
                  <img src="img/MAISON1_480x480.jpeg" alt="">
                </div>
                <div class="Cart__Item__Info">
                  <h2>アイテムの名前</h2>
                  <div class="Cart__Item__Info__Meta">
                    <ul class="Cart__Item__Info__PropertyList">
                      <li class="Cart__Item__Info__Property">お渡し用袋</li>
                    </ul>
                  </div>
                  <div class="Cart__Item__Info__price">
                    <span>￥2,569</span>
                  </div>
                  <div class="counter">
                    <span><i class="fas fa-minus"></i></span>
                    <span>1</span>
                    <span><i class="fas fa-plus"></i></span>
                  </div>
          
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--カートのサイドバーここまで-->
  </header>

  <main class="aboutUs">
    <h2 class="subHeadline">店舗情報</h2>
    
  <section class="aboutUs__sec01 sec">

    <div class="shops">
      <a href="https://tabelog.com/tokyo/A1312/A131205/13003075/" class="shop">
        <img src="img/shop_outer.jpeg" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　篠崎本店</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
        </div>
      </a>
      <a href="https://tabelog.com/tokyo/A1310/A131004/13110601/" class="shop">
        <img src="img/shop_outer.jpeg" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　本郷店</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
        </div>
      </a>
      <a href="https://tabelog.com/tokyo/A1316/A131602/13026377/" class="shop">
        <img src="img/shop_outer.jpeg" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　白金店</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
        </div>
      </a>
      <a href="https://tabelog.com/tokyo/A1310/A131004/13160962/" class="shop">
        <img src="img/shop_outer.jpeg" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　はなれ</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
        </div>
      </a>
    </div>
  </section>
  

  <section class="recommend sec">
    <h2>おすすめ商品</h2>
    <div class="collection-wrap flex">
      <a href="#" class="product_card">
        <img src="img/IMG_0016a.jpg" alt="">
        <h3>生チョコレート"MAISON"（マスカット）</h3>
        <p class="price">¥2,592</p>
        <p class="Btn bgleft"><span>詳細を見る</span></p>
      </a>
      <a href="#" class="product_card">
        <img src="img/IMG_0016a.jpg" alt="">
        <h3>生チョコレート"MAISON"（マスカット）</h3>
        <p class="price">¥2,592</p>
        <p class="Btn bgleft"><span>詳細を見る</span></p>
      </a>
      <a href="#" class="product_card">
        <img src="img/IMG_0016a.jpg" alt="">
        <h3>生チョコレート"MAISON"（マスカット）</h3>
        <p class="price">¥2,592</p>
        <p class="Btn bgleft"><span>詳細を見る</span></p>
      </a>
      <a href="#" class="product_card">
        <img src="img/IMG_0016a.jpg" alt="">
        <h3>生チョコレート"MAISON"（マスカット）</h3>
        <p class="price">¥2,592</p>
        <p class="Btn bgleft"><span>詳細を見る</span></p>
      </a>

    </div>

    

  </section>


  


  

</main>


<footer>
  <div class="footer__inner">
    <p class="copy">©️ 2022 Yakiniku-jambo Co., Ltd</p>
  </div>
</footer>

  <script src="https://kit.fontawesome.com/14c63bdccc.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/script.js"></script>


</body>
</html>