{% section 'toppage-header' %}
<div class="main">
    <div class="container">

        {% section 'toppage-products' %}
      <section class="news mt-5">
        <h2 class="headline bgextend"><span class="bgapper">News</span></h2>
        <div class="newsarea_wrapper">
          <ul>
          
{% for article in blogs['news'].articles %}

            <li class="fadeInUpTrigger">
              <a href="{{ article.url }}">
                <p class="news_date">{{ article.created_at | date: '%Y/%m/%d'}}</p>
                <p class="news_caption">{{ article.title}}</p>
              </a>
            </li>
{% endfor %}
          
          </ul>
        </div>


        <div class="Btn-wrap">
        <a href="/blogs/news" class="Btn">VIEW MORE</a>
        </div>

      
      </section>

        
    </div>
</div>
